$spacer: 10px;

.mt-0 {
  margin-top: 0 !important;
}

.ms-1 {
  margin-left: ($spacer * 0.25) !important;
}

.pad-100 {
  margin: 100px !important;
}

.px-2 {
  padding-left: ($spacer * 0.5) !important;
  padding-right: ($spacer * 0.5) !important;
}

.p-3 {
  padding: $spacer !important;
}

.lazy {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1.5s ease-out,
    transform 1.5s ease-out;
}

.lazy.loaded {
  opacity: 1;
  transform: translateY(0);
}

.hide-when-scrolling {
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.hide-element {
  opacity: 0 !important;
  transform: translateY(-10px);
  pointer-events: none;
}

.spacing {
  margin-bottom: 250px;
}

.spacing-50 {
  margin-bottom: 50px;
}

.profile-img {
  margin: 70px;
  width: 450;
  height: 450;
}

.p-green {
  color: green;
}

.carousel-slide {
  max-width: 700px;
  margin: 0 auto;
}

.carousel-caption-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.invert-color {
  filter: invert(1);
}

.spacing-30 {
  margin: 30px;
}

.spacing-left-50 {
  margin-left: 50px;
}

.space-bottom-150 {
  margin-bottom: 150px;
}

.space-bottom-50 {
  margin-bottom: 50px;
}

.space-bottom-80 {
  margin-bottom: 80px;
}

.form-width-50 {
  width: 50rem;
}

.display-none {
  display: none;
}

.max-width-700 {
  max-width: 700px;
}

.education-img {
  margin: 50px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.project-img {
  margin: 15px;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 550;
  height: 550;
}

.scroll-text {
  max-height: 80px;
  overflow-y: auto;
}
