$spacer: 10px;

// Padding
.p-3 {
  padding: $spacer !important;
}

// Lazy
.lazy {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1.5s ease-out,
    transform 1.5s ease-out;
}

.lazy.loaded {
  opacity: 1;
  transform: translateY(0);
}

// Hide element
.hide-when-scrolling {
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.hide-element {
  opacity: 0 !important;
  transform: translateY(-10px);
  pointer-events: none;
}

// Spacing
.spacing-bot-250 {
  margin-bottom: 250px;
}

.about-me-spacing-bot {
  margin-bottom: 250px;
}

// 2560 Monitor
@media (min-width: 1400px) and (max-width: 2559px) {
  .about-me-spacing-bot {
    margin-bottom: 660px;
  }
}

// Monitor
@media (min-width: 992px) and (max-width: 1399px) {
  .about-me-spacing-bot {
    margin-bottom: 750px;
  }
}

// Phones
@media (max-width: 575px) {
  .about-me-spacing-bot {
    margin-bottom: 610px;
  }
}

.spacing-30 {
  margin: 30px;
}

.spacing-lef-50 {
  margin-left: 50px;
}

.spacing-bot-150 {
  margin-bottom: 150px;
}

.spacing-bot-50 {
  margin-bottom: 50px;
}

.spacing-bot-80 {
  margin-bottom: 80px;
}
.spacing-bot-50 {
  margin-bottom: 50px;
}

// Profile
.profile-img {
  margin: 70px;
  width: 450;
  height: 450;
}

// Color
.green {
  color: green;
}

.invert-color {
  filter: invert(1);
}

// Carousel
.carousel-slide {
  max-width: 700px;
  margin: 0 auto;
}

.carousel-caption-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

// Form
.form-width-50 {
  width: 50rem;
}

// Display
.display-none {
  display: none;
}

// Width
.max-width-700 {
  max-width: 700px;
}

// Height
.height-120 {
  height: 120px !important;
}

// Text scroll
.scroll-text {
  max-height: 80px;
  overflow-y: auto;
}

// Page specific
.education-img {
  margin: 50px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.project-img {
  margin: 15px;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 550;
  height: 550;
}
