$spacer: 10px;

// Padding
.p-3 {
  padding: $spacer !important;
}

.center-content {
  padding-left: 500px;
}

.anchor-scrollspy {
  padding-left: 10rem;
  padding-bottom: 50rem;
}

.max-width-50 {
  max-width: 50%;
}

.disco-color {
  background-color: hsla(195, 83%, 58%, 0.2);
}
