$spacer: 10px;

// About me space
.about-me-spacing-bot {
  margin-bottom: 250px;
}

// 2560 Monitor
@media (min-width: 1400px) and (max-width: 2559px) {
  .about-me-spacing-bot {
    margin-bottom: 660px;
  }
}

// Monitor
@media (min-width: 992px) and (max-width: 1399px) {
  .about-me-spacing-bot {
    margin-bottom: 750px;
  }
}

// Phones
@media (max-width: 575px) {
  .about-me-spacing-bot {
    margin-bottom: 610px;
  }
}

// Profile
.profile-img {
  margin: 70px;
  width: 450;
  height: 450;
}

// Color
.green {
  color: green;
}

.invert-color {
  filter: invert(1);
}

// Carousel
.carousel-slide {
  max-width: 700px;
  margin: 0 auto;
}

.carousel-caption-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

// Form
.form-width-50 {
  width: 50rem;
}

// Display
.display-none {
  display: none;
}

// Width
.max-width-700 {
  max-width: 700px;
}

// Height
.height-120 {
  height: 120px !important;
}

// Page specific
.education-img {
  margin: 50px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.project-img {
  margin: 15px;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 550;
  height: 550;
}

// Progress bar widget
.progress-bar-25 {
  --percentage: 25;
  width: 80px;
  height: 80px;
}

.progress-bar-50 {
  --percentage: 50;
  width: 80px;
  height: 80px;
}

.progress-bar-75 {
  --percentage: 75;
  width: 80px;
  height: 80px;
}

.progress-bar-100 {
  --percentage: 100;
  width: 80px;
  height: 80px;
}

.anchor-scrollspy {
  position: fixed;
  top: 50px;
  right: 0px;
  width: 400px;
}
