{% load static compress %}

<!doctype html>
<html lang="en" data-mdb-theme="{{ theme }}">
  <head>
    <title>Iliyan's portfolio page</title>
    <link rel="browser icon" href="{% static 'favicon.ico' %}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.min.css"
      rel="stylesheet"
      integrity="sha512-KZfH/Hybv9x3A8O7kpxw84PhCbHtcjKo8hB1TR/riHma0ZgyMrR3Ctij/bUHowTXBEpa9i7J3Teed0xasHxwfQ=="
      crossorigin="anonymous"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>

    <script>
    (function(){
      const cookies = document.cookie.split("; ");
      const themeCookie = cookies.find((c) => c.startsWith("theme="));
      if (themeCookie && themeCookie.split("=")[1] == "dark"){
          document.documentElement.classList.add("dark-mode");
      }
    })();
    </script>

    {% compress css %}
    <link
      href="{% static 'style/default.scss' %}"
      rel="stylesheet"
      type="text/x-scss"
    />
    {% endcompress %} {% block extra_head %} {% endblock %}
  </head>

  <body>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.umd.min.js"
      integrity="sha384-YzAp9mbtbROBzQd/GXua4zI0q9ZFctXLsebMBDVA0fvlsyHVP/1VOLlBwtFlThGn"
      crossorigin="anonymous"
    ></script>

    <script type="module">
      try {
        const response = await fetch(
          "https://api.github.com/repos/IliyanKostov9/portfolio/releases/latest",
        );
        const data = await response.json();
        const version = data.tag_name;
        document.getElementById("github-version").textContent = version;
      } catch(error) {
        console.error(`Cannot fetch latest release! ${error}`)
      }
    </script>

    <nav
      class="navbar tab navbar-expand-lg me-1"
      aria-label="toolbar for navigating through the entire website"
    >
      <div class="container-fluid">
        <button
          type="button"
          class="btn btn-rounded btn-link btn-lg text-white"
          data-mdb-ripple-init
          data-mdb-ripple-color="light"
          onclick="window.open('https://github.com/IliyanKostov9/portfolio','_blank')"
        >
          <i class="fab fa-github fa-lg"></i>
          <p id="github-version" class="d-inline mb-0 fw-bold p-3">Source</p>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarCenteredExample"
        >
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"
                >Portfolio</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/blogs"
                >Blogs</a
              >
            </li>

          </ul>
        </div>

        <button id="theme-toggle"
          type="button" class="btn btn-link btn-floating btn-lg m-1"
        >
        {% if theme == "light" %}
        <i class="fas fa-sun fa-lg"></i>
        {% else %}
        <i class="fas fa-moon fa-lg"></i>
        {% endif %}
        </button>
      </div>
    </nav>

    {% block content %} {% endblock %}
    <script src="{% static 'scripts/cookie.js' %}"></script>
    <script src="{% static 'scripts/scroll.js' %}"></script>
    <script src="{% static 'scripts/domContextLoaded.js' %}"></script>
    <script src="{% static 'scripts/lazyload.js' %}"></script>
    <script src="{% static 'scripts/toast.js' %}"></script>
    {% include "components/toast.html" %}

    <footer class="text-center bg-body-tertiary">
      <div class="container pt-4">
        <section class="mb-4">
          <button
            class="btn btn-link btn-floating btn-lg m-1"
            onclick="window.open('https://www.linkedin.com/in/iliyan-kostov/','_blank')"
          >
            <i class="fab fa-2x fa-linkedin"></i>
          </button>
          <button
            class="btn btn-link btn-floating btn-lg m-1"
            onclick="window.open('https://github.com/IliyanKostov9','_blank')"
          >
            <i class="fab fa-2x fa-github"></i>
          </button>
          <button
            class="btn btn-link btn-floating btn-lg m-1"
            onclick="window.open('https://www.hackerrank.com/profile/iliyan_kostov','_blank')"
          >
            <i class="fab fa-2x fa-hackerrank"></i>
          </button>
        </section>
      </div>

      <div class="text-center p-3 footer-text">
        Made with
        <a class="text-body" href="https://www.djangoproject.com/">
          ❤️ by Django</a
        >
      </div>
    </footer>
  </body>
</html>
