{% extends "base.html" %}
{% load static compress django_bootstrap5 %}

{% block extra_head %}
{% compress css %}
  <link
    href="{% static 'style/home.scss' %}"
    rel="stylesheet"
    type="text/x-scss"
  />
{% endcompress %}
{% endblock %}

{% block content %}

  <script src="{% static 'scripts/scroll.js' %}"></script>

<!-- FIX: Carousel, tab not working without this component -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const carousels = document.querySelectorAll('.carousel');
      const tabLinks = document.querySelectorAll('[data-mdb-tab-init]');
      const collapse = document.querySelectorAll('[data-mdb-collapse-init]');
      const tooltips = document.querySelectorAll('[data-mdb-tooltip-init]');

      collapse.forEach((collapse) => {
        new mdb.Collapse(collapse);
      });

      tabLinks.forEach((tabLink) => {
        new mdb.Tab(tabLink);
      });

      carousels.forEach((carousel) => {
        new mdb.Carousel(carousel);
      });

      tooltips.forEach((tooltip) => {
        new mdb.Tooltip(tooltip);
      });

    });
  </script>

<div class="d-flex justify-content-center align-items-center initial-content">
  <img
    src="{% static 'images/profile.jpg' %}"
    class="img-fluid rounded-circle me-4 lazy"
    style="margin: 70px;"
    alt="profile"
    width="450px"
    height="450px"
  />

  <div class="text-start">
    <h5 class="mt-1 text-secondary lazy">Hi,</h5>
    <h1 class="mt-1 text-primary display-1 lazy">I'm Iliyan </h1>
    <p class="lead lazy">
      <em>I try to figure out how things work.</em>
    </p>
    </div>
</div>

<!-- NOTE: artificial padding -->
<p style="margin-bottom: 220px;"></p>

<p class="lead text-center lazy hide-when-scrolling">
  Scroll down to find out more about me
</p>

<div class="d-flex justify-content-center align-items-center lazy hide-when-scrolling">
<a href="#About">
    <i class="fas fa-arrow-down-long align-items-center"></i>
    </a>
</div>
  <hr class="hr hr-blurry hide-when-scrolling" />

  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 id="About" class="lazy"><a href="#About">About</a></h2>
        <p class="lazy">As you may have already guessed from the title above, my name is indeed Iliyan. I'm born in Bulgaria in a city on the coast of the Black Sea - Varna.</p>
        <p class="lazy">I have started on my engineering journey back when I was a kid and had to constantly fix our family desktop computer from crashing on WindowsXP and Windows7, where the issue might be either hardware related - ROM failed, motherboard got fried because of the very hot summers we had at the late 2000s, or I installed a pirated game with additional content (aka malware). That repetition of breaking and fixing changed my way of thinking and approaching problems from there on.</p>

        <hr class="hr hr-blurry" />
        <a
          id="aboutCollapse"
          data-mdb-collapse-init
          data-mdb-ripple-init
          href="#aboutCollapse"
          aria-expanded="false"
          aria-controls="collapseAbout"
        >
          <em>Continue reading</em>
        </a>

        <div class="collapse" id="aboutCollapse">
          <p>
          Afterward I joined in a high school for operation of road transport. Yes, it's not computer related, but it's in the engineering field. I actually do consider myself more of an <u>engineer</u> than a computer scientist.
        </p>
          <p>
          Time passed by and then after high school I was working at a grocery store and like every confused 18 years old, I was wondering what I was going to do with my life. Then after looking of all the local Varna universities, I then stopped at this one, called *Technical university of Varna*. I got curious by the technical specialtes - mainly at computer science and computer technologies and internet. After a bit of thinking, I randomly choose the second option. That was by far the <span style="color: green;">best</span> life changing choice I've made so far and at that time I couldn't have imagined how much this decision was going to change me for the better.
        </p>
          <p>
          In there I didn't learn only about technology, I learnt about working with others, exchanging ideas with passionate people, engaging in debates with professors and assitants, and most importantly - becoming an adult. That's the point of an university, shaping you into a well-rounded individual, who can be integrated into the professional and social environments and being responsible for their actions. I concretely believe in that statement. I've heard so many pepole (co-students), that believe that the point of an university is to get a job, that person is either delusional or being a stubborn child, that doesn't want to look at the bigger picture.
        </p>
          <p>
          In the third year of my bachelor's degree (2021) I was in an internship of a small local financial institution, that we developed legacy Windows 32bit for WindowsXP systems in Visual Objects community edition (also called CAVO).
          In the same year I landed my first actual IT job as a DevOps engineer as a consultant. The good thing about being a consultant is that you can see different companies (clients) with different architectures and <i>ways-of-working</i> in a very short amount of time, but the bad part is that you are not a permanent employee in these projects and you'll have to learn all of those tedious company's processes and in-house tools again for the next project. Believe me, in time you'll get very irritated by it.
        </p>
          <p>
          After some time I've spend working there and becoming more familiar with the company, I started to dislike the the company culture and decided to go elsewhere. In May 2025, I found another job, which wasn't just a job, but a life change. I had to move out to live on the southern region of France, Côte d'Azur.
        </p>
          <p>
          <em>And the story continues...</em>
        </p>

        <hr class="hr hr-blurry" />
        <a
          id="aboutCollapseOpened"
          data-mdb-collapse-init
          data-mdb-ripple-init
          href="#aboutCollapse"
          aria-expanded="true"
          aria-controls="collapseAbout"
        >
          <em>See less</em>
        </a>
      </div>
    </div>

    <!-- NOTE: artificial padding -->
    <p style="margin-bottom: 50px;"></p>

      <div style="max-width: 700px; margin: 0 auto;">
        <div id="prog" class="carousel slide carousel-fade lazy" data-mdb-ride="carousel" data-mdb-carousel-init>
          <div class="carousel-inner rounded-5 shadow-4-strong">

            <div class="carousel-item active bg-image">
              <img
                src="{% static 'images/technologies_background.jpg' %}"
                class="d-block w-100 img-fluid"
                alt="Blue art background for technology stack"
              />
              <div class="carousel-caption d-none d-md-block mask d-flexbox p-2" style="background-color: rgba(0, 0, 0, 0.6);">
                <h4 class="text-white">Programming languages</h4>
                <ul class="list-unstyled">
                  <div class="container">
                    <div class="row">

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                          <i class="fab fa-python"></i>
                            Python
                          </p>
                        </li>
                      </div>

                    <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                          <i class="fab fa-java"></i>
                            Java
                          </p>
                        </li>
                    </div>

                    <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/bash.svg' %}
                            Bash
                          </p>
                        </li>
                    </div>

                  </div>

                    <div class="row">
                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/javascript.svg' %}
                              Javascript
                          </p>
                        </li>
                    </div>

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/nix.svg' %}
                            Nix
                          </p>
                        </li>
                    </div>

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/lua.svg' %}
                              Lua
                          </p>
                        </li>
                    </div>

                  </div>

                    <div class="row">
                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/php.svg' %}
                            Php
                          </p>
                        </li>
                    </div>

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/c_plus_plus.svg' %}
                            C++
                          </p>
                        </li>
                    </div>

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/kotlin.svg' %}
                               Kotlin
                          </p>
                        </li>
                    </div>
                  </div>
                </ul>

                <h4 class="text-white">Frameworks</h4>
                <ul class="list-unstyled">
                  <div class="container">
                    <div class="row">
                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            <i class="fab fa-aws"></i>
                            AWS Amplify
                          </p>
                        </li>
                      </div>

                    <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/nextjs.svg' %}
                            NextJS
                          </p>
                        </li>
                    </div>

                    <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            <i class="fab fa-react"></i>
                            ReactJS
                          </p>
                        </li>
                    </div>

                    <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/quarkus.svg' %}
                            Quarkus
                          </p>
                        </li>
                    </div>

                    <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/pytest.svg' %}
                                Pytest
                          </p>
                        </li>
                    </div>


                    </div>
                    </div>
                    </ul>
            </div>
          </div>

            <div class="carousel-item">
              <img src="{% static 'images/technologies_background.jpg' %}" class="d-block w-100" alt="Blue art background for technology stack"/>
              <div class="carousel-caption d-none d-md-block mask d-flexbox p-2" style="background-color: rgba(0, 0, 0, 0.6);">
                <h4 class="text-white">Containers</h4>
                <ul class="list-unstyled">
                  <div class="container">
                    <div class="row">

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            <i class="fab fa-docker"></i>
                            Docker
                          </p>
                        </li>
                      </div>

                    <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/kubernetes.svg' %}
                            Kubernetes
                          </p>
                        </li>
                    </div>

                    </div>
                    </div>
                    </ul>

                <h4 class="text-white">SQL</h4>
                <ul class="list-unstyled">
                  <div class="container">
                    <div class="row">

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/mysql.svg' %}
                                MySQL
                          </p>
                        </li>
                      </div>

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/postgresql.svg' %}
                                PostgreSQL
                          </p>
                        </li>
                      </div>
                    </div>
                    </div>
                </ul>

                <h4 class="text-white">CI/CD</h4>
                <ul class="list-unstyled">
                  <div class="container">
                    <div class="row">
                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/github_actions.svg' %}
                                Github actions
                            </p>
                        </li>
                      </div>

                    <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/azure_devops.svg' %}
                            Azure DevOps
                          </p>
                        </li>
                    </div>

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            <i class="fab fa-aws"></i>
                              AWS
                          </p>
                        </li>
                      </div>

                      <div class="col-md">
                        <li class="list-group-item border-0">
                          <p class="text-white">
                            {% include 'icons/azure.svg' %}
                                Azure
                          </p>
                        </li>
                      </div>
                    </div>
                    </div>
                    </ul>
                  </div>
                  </div>

            <!-- Active out -->
        </div>

          <!-- NOTE: invert(1) to make the color of the arrows white -->
          <button class="carousel-control-prev" type="button" data-mdb-target="#prog" data-mdb-slide="prev" style="filter: invert(1);">
            <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-mdb-target="#prog" data-mdb-slide="next" style="filter: invert(1);">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      </div>

    </div>
    </div>

<!-- NOTE: artificial padding -->
<p style="margin-bottom: 220px;"></p>

  <div class="row text-center justify-content-center">
    <div class="col-md-6 lazy">
        <h2 id="WorkHistory" class="lazy"><a href="#WorkHistory">Work history</a></h2>

        <ul class="nav nav-tabs nav-justified mb-3" id="projects-tab" >
          <li class="nav-item">
            <a
              data-mdb-tab-init
              class="nav-link active"
              id="sys-consulting"
              href="#sys-consulting-href"
              role="tab"
              aria-controls="sys-consulting-href"
              aria-selected="true"
              >
            {% include 'icons/sys_consulting.svg' %}
            Sys Consulting</a>
          </li>

          <li class="nav-item">
            <a
              data-mdb-tab-init
              class="nav-link"
              id="dxc-technology"
              href="#dxc-technology-href"
              role="tab"
              aria-controls="dxc-technology-href"
              aria-selected="false"
              >
            {% include 'icons/dxc_technology.svg' %}
            DXC Technology</a>
          </li>

          <li class="nav-item">
            <a
              data-mdb-tab-init
              class="nav-link"
              id="alten"
              href="#alten-href"
              role="tab"
              aria-controls="#alten-href"
              aria-selected="false"
              >
            {% include 'icons/alten.svg' %}
            Alten</a>
          </li>

        </ul>

        <div class="tab-content" id="projects-content">
          <div
            class="tab-pane fade show active"
            id="sys-consulting-href"
            role="tabpanel"
            aria-labelledby="sys-consulting"
          >
          <figure>
            <blockquote class="blockquote">
              <h2>Software Engineer</h2>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
             Internship 07-2021 - 12-2021
            </p>
            </figcaption>
            </figure>
          <p>
          The intership consisted of mainaiting a legacy banking system for Balkan clients. The system was comprised of a desktop Windows XP compatible application, written in CAVO (Visual Objects) programming language.
          </p>
          </div>
          <div
            class="tab-pane fade text-start container"
            id="dxc-technology-href"
            role="tabpanel"
            aria-labelledby="dxc-technology"
          >
          <figure>
            <blockquote class="blockquote">
              <h2 class="text-center">DevOps Engineer</h2>
            </blockquote>
            <!-- NOTE: text-center in figcaption because of the dash - -->
            <figcaption class="blockquote-footer text-center">
            <p class="text-center">
             Mid 04-2023 - 05-2025
            </p>
            <p class="text-center">
             Junior 02-2022 - 04-2023
            </p>
            </figcaption>
            </figure>
          <p>
          My initial project focused on the development of Advanced Driver Assistance
          Systems (ADAS) for a multinational automotive company.
          </p>
          <p>
          Within this project, my role was working as a DevOps Engineer on AWS cloud infrastructure management, where we were responsible for maintaining the entire cloud platform, including the deployment of customer products with the help of AWS ADF framework, AWS Account-Vending-Machine and AWS Control Tower custom REST API.
          </p>
          <p>
          We were also responsible governing the cloud platform by using AWS Cloudformation Policy templates and all of the essential resources. The automation these processes was achieved through the use of AWS CDK Infrastructure as Code (IaaC).
          </p>
          <p>
          As part of my contributions to client services, I implemented the following solutions:
          </p>
            <ul>
              <li>
            budget cost alerting on the entire platform with predifned % of exceeded budget to fire off email messages to the Business Owners
              </li>
              <li>
          creating additional REST API endpoints for the Control Tower for specifying which newly created AWS accounts belong to which VPC. In there I also wrote the logic where a Lambda Function checks the type of account and based on which VPC template it belongs to - deploys the AWS CloudFormation StackSet to the appropriate account.
              </li>
              <li>
          creating a High level design of data flow and replication for the entire Data platform
              </li>
              </ul>
          <p>
          My second project revolved around delivering valuable insights to enhance the shopping experience for customers and establishing loyalty programs for a renowned Whole Foods store company.
          </p>
          <p>
            I was positioned as Data Engineer on the Azure platform for ensuring data integrity and data validation on the Raw to Source to Prepared Layer. For data validation processes, we developed a Test Automation Framework built upon the pytest framework. The data flow initiates as follows:
          </p>
          <ol >
          <li >
            A single entry of test data (.avro file) and a configuration file are copied from raw layer on Blob Storage
          </li>
          <li >
            From that event of the configuration file being copied, it invokes an ADF (Azure Data Factory) pipeline, that in turn parses this test data towards Azure Databricks cluster
          </li>
          <li >
            That cluster was responsible for doing minor transformations of the data, like converting the data type from avro -> parquet, changing column names for compatibility purposes, etc
          </li>
          <li >
            After the transformations were done, that transformed test data gets copied to the Source layer of Blob Storage
          </li>
          <li >
            Test Framework via the Azure SDK is validating the data on the raw and source layer, for example: schema checks, data checks, duplication checks, column checks
          </li>
          <li >
            After all tests are gathered, pytest creates a test execution results file junitxml_report.xml, thats required for the reporting tools to visualize the test results
          </li>
          <li >
            We provided 2 different reporting tools: Zephyr Scale Rest API and Allure
          </li>
          </ol>

        </div>
          <div
            class="tab-pane fade"
            id="alten-href"
            role="tabpanel"
            aria-labelledby="alten"
          >
          <figure>
            <blockquote class="blockquote">
              <h2>DevOps Engineer</h2>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
             Mid 04-2025 - Present
            </p>
            </figcaption>
            </figure>
          <p>
          My first project is a software company, that provides global distribution service to airline companies.
          These distributions of data products are in the area of the travel industry.
          </p>
          <p>
            The team I'm in is in the department of ticket reservation.
            The role I'm currently working is platform engineer and the objective is to maintain, operate and develop the data processing pipeline, that is responsible for ingesting the raw data, that's sent by the global distribution system, process it through multiple layers and finally send it to the customer via various transfer protocols - FTP or S3.
          </div>
        </div>

    </div>
  </div>


<!-- NOTE: artificial padding -->
<p style="margin-bottom: 220px;"></p>

  <div class="row text-center justify-content-center">
    <div class="col-md-7 lazy d-flex flex-column align-items-center">
        <h2 id="Education" class="lazy"><a href="#Education">Education</a></h2>

          <div class="card" style="max-width: 700px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/tu_varna.png' %}"
                  class="img-fluid rounded-start me-4 lazy"
                  style="margin: 50px; margin-bottom: 80px; margin-top: 80px;"
                  alt="Technical university of Varna logo"
                  width="550px"
                  height="550px"
                />
            <!-- <button type="button" class="btn btn-outline-primary btn-rounded btn-lg" -->
            <!--   data-mdb-ripple-init -->
            <!--   style="margin-left: 80px;" -->
            <!--   onclick="window.open('https://fs.tu-varna.bg/','_blank')" -->
            <!-- > -->
            <!--     Website -->
            <!-- </button> -->
              </div>

          <div class="col-md-8">
            <div class="card-body"
                  style="margin-left: 50px;"
            >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title mb-3"> <a href="#thesis-masters" data-mdb-tooltip-init title="Thesis: Design and implementation of a system for doctoral students admission and training"> Masters degree</a></h3>
                  <h5 class="card-title mb-3"><small class="text-muted">Software engineering</small></h5>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              10-2023 - 07-2025
            </p>
            </figcaption>
            </figure>

                <p class="card-text">
                  Graduates of the Master's Program "Software Engineering" can work as applied and system programmers, web designers and developers, software technology consultants, internet applications and more.
                </p>
                <p class="card-text">
                  <small class="text-muted">GPA: 6.00</small>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- NOTE: artificial padding -->
        <p style="margin-bottom: 80px;"></p>

          <div class="card" style="max-width: 700px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/tu_varna.png' %}"
                  class="img-fluid rounded-start me-4 lazy"
                  style="margin: 50px; margin-bottom: 80px; margin-top: 80px;"
                  alt="Technical university of Varna logo"
                  width="550px"
                  height="550px"
                />
              </div>

          <div class="col-md-8">
            <div class="card-body"
                  style="margin-left: 50px;"
            >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title mb-3"> <a href="#thesis-bachelors" data-mdb-tooltip-init title="Thesis: AI-Driven Project management web app with ChatGPT 3.5"> Bachelors degree</a></h3>
                  <h5 class="card-title mb-3"><small class="text-muted">Computer and Internet technology</small></h5>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              09-2019 - 07-2023
            </p>
            </figcaption>
            </figure>
                <p class="card-text">
                  The Objects of the Professional Activity of the Engineer with the specialty "SIT" are the design, development and maintenance of software and internet systems and applications, expanding the field of application of computer systems and networks and information technologies, successful application of modern and continuously developing technologies for the internet and expansion, distributed and parallel processing, as artificial intelligence.
                </p>
                <p class="card-text">
                  <small class="text-muted">GPA: 6.00</small>
                </p>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>

<p style="margin-bottom: 220px;"></p>

  <div class="row text-center justify-content-center">
    <h2 id="Certificates" class="lazy"><a href="#Certificates">Certificates</a></h2>

  <div class="row text-center justify-content-center">
    <div class="col-md-3 lazy d-flex flex-column align-items-center">
          <div class="card" >
                <img
                  src="{% static 'images/certificates/german_a1.jpg' %}"
                  class="img-fluid mx-auto lazy"
                  style="margin: 30px;"
                  width="150px"
                  height="150px"
                  alt="German a1 certificate"
                />

          <div class="card-body" >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title">A1 German Language Certificate</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              10.04.2025
            </p>

            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://infobulgaria.net/','_blank')"
            >
                Verify
            </button>
            </figcaption>
            </figure>
              </div>
        </div>
    </div>

    <div class="col-md-3 lazy d-flex flex-column align-items-center">
          <div class="card" >
          <!-- TODO: Don't manually align this card by using margin -->
                <img
                  src="{% static 'images/certificates/aws_migration_acceleration_program.png' %}"
                  class="img-fluid mx-auto lazy"
                  style="margin: 15px;"
                  width="150px"
                  height="150px"
                  alt="AWS Migration acceleration program"
                />

          <div class="card-body" >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title">AWS Migration acceleration program</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
                09-2024
            </p>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://www.credly.com/badges/79c50d81-a092-4d64-9abd-c82b74af8836/linked_in_profile','_blank')"
            >
                Verify
            </button>
            </figcaption>
            </figure>
              </div>
        </div>
    </div>

    <div class="col-md-3 lazy d-flex flex-column align-items-center">
          <div class="card" >
                <img
                  src="{% static 'images/certificates/aws_technical_accelerated.png' %}"
                  class="img-fluid mx-auto lazy"
                  style="margin: 30px;"
                  width="150px"
                  height="150px"
                  alt="AWS Technical accelerated"
                />

          <div class="card-body" >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title">AWS Technical accelerated</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
                09-2024
            </p>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://www.credly.com/badges/d2561920-df6c-4a04-a267-4009de608a8f/linked_in_profile','_blank')"
            >
                Verify
            </button>
            </figcaption>
            </figure>
              </div>
        </div>
    </div>
  </div>

<p style="margin-bottom: 50px;"></p>

  <div class="row text-center justify-content-center">
    <div class="col-md-3 lazy d-flex flex-column align-items-center">
          <div class="card" >
                <img
                  src="{% static 'images/certificates/databricks_gen_llm.jpg' %}"
                  class="img-fluid mx-auto lazy"
                  style="margin: 30px;"
                  width="150px"
                  height="150px"
                  alt="Partner Training - Gen AI & LLM on Databricks"
                />

          <div class="card-body" >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title">Partner Training - Gen AI & LLM on Databricks</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              10.04.2024 - 09.09.2026
            </p>

            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://credentials.databricks.com/b2a0ea97-cbe8-47db-b075-8c833525ef4f#acc.R8i3Nzvg','_blank')"
            >
                Verify
            </button>
            </figcaption>
            </figure>
              </div>
        </div>
    </div>

    <div class="col-md-3 lazy d-flex flex-column align-items-center">
          <div class="card" >
                <img
                  src="{% static 'images/certificates/microsoft_associate.png' %}"
                  class="img-fluid mx-auto lazy"
                  style="margin: 30px;"
                  width="150px"
                  height="150px"
                  alt="Microsoft Certified: Azure Developer Associate"
                />

          <div class="card-body" >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title">Microsoft Certified: Azure Developer Associate</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              02.10.2023 - 03.10.2026
            </p>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://learn.microsoft.com/en-us/users/kostoviliyan-7522/credentials/4cbfcf5b11b3e4ee?ref=https%3A%2F%2Fwww.linkedin.com%2F','_blank')"
            >
                Verify
            </button>
            </figcaption>
            </figure>
              </div>
        </div>
    </div>

    <div class="col-md-3 lazy d-flex flex-column align-items-center">
          <div class="card" >
                <img
                  src="{% static 'images/certificates/microsoft_expert.png' %}"
                  class="img-fluid mx-auto lazy"
                  style="margin: 30px;"
                  width="150px"
                  height="150px"
                  alt="Microsoft Certified: DevOps Engineer Expert"
                />

          <div class="card-body" >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title">Microsoft Certified: DevOps Engineer Expert</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              02.10.2023 - 03.10.2026
            </p>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://learn.microsoft.com/en-us/users/kostoviliyan-7522/credentials/5ac1e309f3cd6c25?ref=https%3A%2F%2Fwww.linkedin.com%2F','_blank')"
            >
                Verify
            </button>
            </figcaption>
            </figure>
              </div>
        </div>
    </div>
  </div>

<p style="margin-bottom: 50px;"></p>

  <div class="row text-center justify-content-center">

    <div class="col-md-3 lazy d-flex flex-column align-items-center">
          <div class="card" >
                <img
                  src="{% static 'images/certificates/microsoft_associate.png' %}"
                  class="img-fluid mx-auto lazy"
                  style="margin: 30px;"
                  width="150px"
                  height="150px"
                  alt="Microsoft Certified: Azure Data Engineer Associate"
                />

          <div class="card-body" >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title">Microsoft Certified: Azure Data Engineer Associate</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              28.04.2022 - 28.04.2023
            </p>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://www.credly.com/badges/a7fc1fb7-e1b6-4473-8453-6c4eff17c10f/public_url','_blank')"
            >
                Verify
            </button>
            </figcaption>
            </figure>
              </div>
        </div>
    </div>

    <div class="col-md-3 lazy d-flex flex-column align-items-center">
          <div class="card" >
                <img
                  src="{% static 'images/certificates/aws_saa.png' %}"
                  class="img-fluid mx-auto lazy"
                  style="margin: 30px;"
                  width="150px"
                  height="150px"
                  alt="AWS Certified Solutions Architect – Associate"
                />

          <div class="card-body" >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title">AWS Certified Solutions Architect – Associate</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
                  29.07.2022 - 29.07.2025
            </p>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://www.credly.com/badges/620c9229-2256-4c1c-8067-18368f84862b/public_url','_blank')"
            >
                Verify
            </button>
            </figcaption>
            </figure>
              </div>
        </div>
    </div>
  </div>

  </div>


<p style="margin-bottom: 220px;"></p>

  <div class="row text-center justify-content-center">
        <h2 id="Projects" class="lazy"><a href="#Projects">Projects</a></h2>

  <div class="row text-center justify-content-center ">
    <div class="col-md-4 lazy d-flex flex-column align-items-center">

          <div class="card" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/nixos.png' %}"
                  class="img-fluid rounded-start me-4 lazy"
                  style="margin: 50px; margin-bottom: 80px; margin-top: 80px;"
                  alt="NixOS logo"
                  width="550px"
                  height="550px"
                />
              </div>

          <div class="col-md-8">
            <div class="card-body"
                  style="margin-left: 50px;"
            >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title mb-3">NixOS config
                  </h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              06-2024 - Present
            </p>
            </figcaption>
            </figure>
                <p class="card-text">
                  It contains hardware/software configurations for setting up my personal/work machines.
                </p>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              style="width: 80%;"
              onclick="window.open('https://github.com/IliyanKostov9/nixos-config','_blank')"
            >
              <i class="fab fa-github"></i>
            </button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-4 lazy d-flex flex-column align-items-center">

          <div class="card" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/tu_varna.png' %}"
                  class="img-fluid rounded-start me-4 lazy"
                  style="margin: 50px; margin-bottom: 80px; margin-top: 80px;"
                  alt="Tu Varna logo"
                  width="550px"
                  height="550px"
                />
              </div>

          <div class="col-md-8">
            <div class="card-body"
                  style="margin-left: 50px;"
            >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title mb-3">
                      Phd portal system
                  </h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              08-2024 - 06-2025
            </p>
            </figcaption>
            </figure>
                <p class="card-text" style="max-height: 110px; overflow-y: auto;">
                  The project develops an engineering solution for digitizing an information system for doctoral students and candidates in order to be used by higher education institutions, which would integrate into the systematic process for the management and management of the so -called "digital university".
                </p>

              </div>
            </div>
              <div class="btn-group" role="group" aria-label="phd portal buttons for github"
              >
                <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/phd-portal-server','_blank')"
                >
                  Server
                  <i class="fab fa-github"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/phd-portal-client','_blank')"
                >
                  Client
                  <i class="fab fa-github"></i>
                </button>

                <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/phd-portal-infra','_blank')"
                >
                  Infra
                  <i class="fab fa-github"></i>
                </button>
              </div>
          </div>
        </div>
    </div>

    <div class="col-md-4 lazy d-flex flex-column align-items-center">

          <div class="card" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/tu_varna.png' %}"
                  class="img-fluid rounded-start me-4 lazy"
                  style="margin: 50px; margin-bottom: 80px; margin-top: 80px;"
                  alt="Tu Varna logo"
                  width="550px"
                  height="550px"
                />
              </div>

          <div class="col-md-8">
            <div class="card-body"
                  style="margin-left: 50px;"
            >
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title mb-3">
                      Geo Android app
                  </h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              02-2024 - 06-2024
            </p>
            </figcaption>
            </figure>
                <p class="card-text">
                  Information system, which allows users to inspect hazards and risks anywhere in the world.
                </p>

              </div>
            </div>
              <div class="btn-group" role="group" aria-label="phd portal buttons for github"
              >
                <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/geo-server','_blank')"
                >
                  Server
                  <i class="fab fa-github"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/geo-client','_blank')"
                >
                  Client
                  <i class="fab fa-github"></i>
                </button>
              </div>
          </div>
        </div>
    </div>

  </div>

<p style="margin-bottom: 50px;"></p>

  <div class="row text-center justify-content-center ">
    <div class="col-md-4 lazy d-flex flex-column align-items-center">

          <div class="card" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/tu_varna.png' %}"
                  class="img-fluid rounded-start me-4 lazy"
                  style="margin: 50px; margin-bottom: 80px; margin-top: 80px;"
                  alt="Tu Varna logo"
                  width="550px"
                  height="550px"
                />
              </div>

          <div class="col-md-8">
            <div class="card-body" style="margin-left: 50px;">
          <figure>
            <blockquote class="blockquote">
                  <h3 class="card-title mb-3">ChatApp mobile app</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              08-2023 - 02-2024
            </p>
            </figcaption>
            </figure>
                <p class="card-text">
                  Mobile application for real time messaging communication
                </p>

              <div class="btn-group" role="group" aria-label="chat app buttons for github"
              >
                <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/chatapp-server','_blank')"
                >
                  Server
                  <i class="fab fa-github"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/chatapp-client','_blank')"
                >
                  Client
                  <i class="fab fa-github"></i>
                </button>
              </div>
              </div>
              </div>

          </div>
        </div>

    </div>

    <div class="col-md-4 lazy d-flex flex-column align-items-center">

          <div class="card" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/tu_varna.png' %}"
                  class="img-fluid rounded-start me-4 lazy"
                  style="margin: 50px; margin-bottom: 80px; margin-top: 80px;"
                  alt="Tu Varna logo"
                  width="550px"
                  height="550px"
                />
              </div>

          <div class="col-md-8">
            <div class="card-body" style="margin-left: 50px;">
          <figure>
            <blockquote class="blockquote">
              <h4 class="card-title mb-3">Project management with OpenAI</h4>
            </blockquote>
            <figcaption class="blockquote-footer">
            <p>
              02-2023 - 06-2023
            </p>
            </figcaption>
            </figure>
                <p class="card-text" style="max-height: 80px; overflow-y: auto;">
                  A browser-based project management app, that is integrated with ChatGPT-3.5 for supporting the agile team to autogenerate tickets.
                </p>

                <button type="button" class="btn btn-outline-primary btn-rounded btn-lg"
              style="width: 80%;"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/project-management-openai','_blank')"
                >
                  <i class="fab fa-github"></i>
                </button>
              </div>
              </div>

          </div>
        </div>

    </div>
    </div>
  </div>

<p style="margin-bottom: 220px;"></p>

  <div class="row text-center justify-content-center">
    <div class="col-md-6 lazy">
        <h2 id="ContactMe" class="lazy"><a href="#ContactMe">Contact me</a></h2>
      <p>foo</p>
    </div>
  </div>


{% endblock %}
