{% extends "base.html" %}
{% load static compress django_bootstrap5 %}
  {% block extra_head %}
  {% compress css %}
<link
  href="{% static 'style/home.scss' %}"
  rel="stylesheet"
  type="text/x-scss"
/>
{% endcompress %}
{% endblock %}

{% block content %}
<!-- TODO: add animations -->
  <div class="d-flex justify-content-center align-items-center">
  <img
    src="{% static 'images/profile.jpg' %}"
    class="img-fluid rounded-circle me-4"
    style="margin: 70px;"
    alt="profile picture"
    width="450px"
    height="450px"
  />

  <div class="text-start">
    <h5 class="mt-1 text-secondary">Hi,</h5>
    <h1 class="mt-1 text-primary display-1">I'm Iliyan</h1>
    <p class="lead">
      <em>I try to figure out how things work.</em>
    </p>
    </div>
  </div>

  <p class="lead text-center">
    Scroll down to find out more about me
  </p>
<div class="d-flex justify-content-center align-items-center">
  <i class="fas fa-arrow-down-long align-items-center"></i>
</div>
  <hr class="hr hr-blurry" />

<div class="”container”">
  <div class="”row”">
    <div class="”col-md-4″">
      <h2>About</h2>
      <p>foo</p>
    </div>
  </div>

  <div class="”row”">
    <div class="”col-md-4″">
      <h2>Projects</h2>
      <p>foo</p>
    </div>
  </div>

  <div class="”row”">
    <div class="”col-md-4″">
      <h2>Work history</h2>
      <p>foo</p>
    </div>
  </div>

  <div class="”row”">
    <div class="”col-md-4″">
      <h2>Education</h2>
      <p>foo</p>
    </div>
  </div>

  <div class="”row”">
    <div class="”col-md-4″">
      <h2>Certification</h2>
      <p>foo</p>
    </div>
  </div>
</div>

<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
  data-mdb-carousel-init
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp"
        class="d-block w-100"
        alt="Sunset Over the City"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp"
        class="d-block w-100"
        alt="Canyon at Nigh"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp"
        class="d-block w-100"
        alt="Cliff Above a Stormy Sea"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}
