{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %} Home test {% endblock %}
<!--content -->
{% block content %}

    <div class=”jumbotron”>

    <div class="media">
        <!-- TODO: fix image not showing -->
      <img class="mr-3" class="rounded float-right" src="../../assets/profile.jpg" alt="profile image">
      <div class="media-body">
        <h5 class="mt-0">Hi - I'm Iliyan.👋</h5>
        Passionate about being part of the entire software lifecycle, from initial development to production deployment
      </div>
    </div>

    <div class=”container”>

        <div class=”row”>
            <div class=”col-″>
                <h2>About</h2>
                <p>foo</p>
            </div>
        </div>


        <div class=”row”>
            <div class=”col-md-4″>
                <h2>Projects</h2>
                <p>foo</p>
            </div>
        </div>

        <div class=”row”>
            <div class=”col-md-4″>
                <h2>Work history</h2>
                <p>foo</p>
            </div>
        </div>

        <div class=”row”>
            <div class=”col-md-4″>
                <h2>Education</h2>
                <p>foo</p>
            </div>
        </div>

        <div class=”row”>
            <div class=”col-md-4″>
                <h2>Certification</h2>
                <p>foo</p>
            </div>
        </div>

        <div class=”row”>
            <div class=”col-md-4″>
                <h2>External links</h2>
                <p>foo</p>
            </div>
        </div>

   </div>

{% endblock %}

