{% load static %}

<div class="row justify-content-center">
  <div class="col-md-6">

  <section id="About">
    <h2 class="lazy"><a href="#About">About</a></h2>
      </section>
    <p class="lazy">
      {{ tr_about.introduction }}
    </p>
    <p class="lazy">
      {{ tr_about.starting_journey }}
    </p>

    <hr class="hr hr-blurry" />
    <a
      id="aboutCollapse"
      data-mdb-collapse-init
      data-mdb-ripple-init
      href="#aboutCollapse"
      aria-expanded="false"
      aria-controls="aboutCollapse"
    >
      <em>{{ tr_about.read_more }}</em>
    </a>

    <!-- NOTE: needed for same id in order for the Read more button to dissapear after it being clicked -->
    <div class="collapse" id="aboutCollapse">
      <p>
        {{ tr_about.starting_uni }}
      </p>
      <p>
        Time passed by and then after high school I was working at a grocery
        store and like every confused 18 years old, I was wondering what I was
        going to do with my life. Then after looking of all the local Varna
        universities, I then stopped at this one, called *Technical university
        of Varna*. I got curious by the technical specialtes - mainly at
        computer science and computer technologies and internet. After a bit of
        thinking, I randomly choose the second option. That was by far the
        <span class="green">best</span> life changing choice I've made so far
        and at that time I couldn't have imagined how much this decision was
        going to change me for the better.
      </p>
      <p>
        {{ tr_about.a_bit_of_dumb_philosophy }}
      </p>
      <p>
        {{ tr_about.starting_work }}
      </p>
      <p>
        {{ tr_about.work_in_france}}
      </p>
      <p>
        <em>{{ tr_about.cliche_ending }}</em>
      </p>

      <hr class="hr hr-blurry" />
      <a
        id="aboutCollapseOpened"
        data-mdb-collapse-init
        data-mdb-ripple-init
        href="#aboutCollapse"
        aria-expanded="true"
        aria-controls="collapseAbout"
      >
        <em>{{ tr_about.read_less }}</em>
      </a>
    </div>
  </div>

  <p class="spacing-bot-50" />

  <div
    id="prog"
    class="carousel-slide carousel slide carousel-fade lazy"
    data-mdb-ride="carousel"
    data-mdb-carousel-init
  >
    <div class="carousel-inner rounded-5 shadow-4-strong">
      {% for page, pages_data in technologies.pages.items %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img
          src="{% static 'images/technologies_background.jpg' %}"
          class="d-block w-100 img-fluid"
          alt="Blue art background for technology stack"
        />
        <div
          class="carousel-caption-bg carousel-caption d-none d-md-block mask d-flexbox p-2"
        >
          {% for category, category_data in pages_data.categories.items %}
          <h4 class="text-white">{{ category }}</h4>
          <div class="container list-unstyled">
            {% for row, row_data in category_data.rows.items %}
            <div class="row">
              {% for technology in row_data %}
              <div class="col-md">
                <p class="text-white">
                  {% if technology.icon|slice:"-4:" == ".svg" %}
                  {% include 'icons/'|add:technology.icon %}
                  {% elif technology.icon|slice:":3" == "fab" %}
                  <i class="{{ technology.icon }}"></i>
                  {% endif %}
                  {{ technology.name }}
                </p>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

      <!-- NOTE: invert(1) to make the color of the arrows white -->
      <button
        class="carousel-control-prev invert-color"
        type="button"
        data-mdb-target="#prog"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next invert-color"
        type="button"
        data-mdb-target="#prog"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
