{% load static i18n %}

<div class="row justify-content-center">
  <div class="col-md-6">

  <section id="About">
    <h2 class="lazy"><a href="#About">About</a></h2>
      </section>
    <p class="lazy">
      {% blocktranslate trimmed %}
      As you may have already guessed from the title above, my name is indeed
      Iliyan. I'm born in Bulgaria in a city on the coast of the Black Sea -
      Varna.
      {% endblocktranslate %}
    </p>
    <p class="lazy">
      {% blocktranslate trimmed %}
      I have started on my engineering journey back when I was a kid and had to
      constantly fix our family desktop computer from crashing on WindowsXP and
      Windows7, where the issue might be either hardware related - ROM failed,
      motherboard got fried because of the very hot summers we had at the late
      2000s, or I installed a pirated game with additional content (aka
      malware). That repetition of breaking and fixing changed my way of
      thinking and approaching problems from there on.
      {% endblocktranslate %}
    </p>

    <hr class="hr hr-blurry" />
    <a
      id="aboutCollapse"
      data-mdb-collapse-init
      data-mdb-ripple-init
      href="#aboutCollapse"
      aria-expanded="false"
      aria-controls="aboutCollapse"
    >
      <em>{% translate "Continue reading" %}</em>
    </a>

    <!-- NOTE: needed for same id in order for the Read more button to dissapear after it being clicked -->
    <div class="collapse" id="aboutCollapse">
      <p>
      {% blocktranslate trimmed %}
        Afterward I joined in a high school for operation of road transport.
        Yes, it's not computer related, but it's in the engineering field. I
        actually do consider myself more of an <u>engineer</u> than a computer
        scientist.
      {% endblocktranslate %}
      </p>
      <p>
      {% blocktranslate trimmed %}
        Time passed by and then after high school I was working at a grocery
        store and like every confused 18 years old, I was wondering what I was
        going to do with my life. Then after looking of all the local Varna
        universities, I then stopped at this one, called *Technical university
        of Varna*. I got curious by the technical specialtes - mainly at
        computer science and computer technologies and internet. After a bit of
        thinking, I randomly choose the second option. That was by far the
        <span class="green">best</span> life changing choice I've made so far
        and at that time I couldn't have imagined how much this decision was
        going to change me for the better.
        {% endblocktranslate %}
      </p>
      <p>
      {% blocktranslate trimmed %}
        In there I didn't learn only about technology, I learnt about working
        with others, exchanging ideas with passionate people, engaging in
        debates with professors and assitants, and most importantly - becoming
        an adult. That's the point of an university, shaping you into a
        well-rounded individual, who can be integrated into the professional and
        social environments and being responsible for their actions. I
        concretely believe in that statement. I've heard so many pepole
        (co-students), that believe that the point of an university is to get a
        job, that person is either delusional or being a stubborn child, that
        doesn't want to look at the bigger picture.
        {% endblocktranslate %}
      </p>
      <p>
      {% blocktranslate trimmed %}
        In the third year of my bachelor's degree (2021) I was in an internship
        of a small local financial institution, that we developed legacy Windows
        32bit for WindowsXP systems in Visual Objects community edition (also
        called CAVO). In the same year I landed my first actual IT job as a
        DevOps engineer as a consultant. The good thing about being a consultant
        is that you can see different companies (clients) with different
        architectures and <i>ways-of-working</i> in a very short amount of time,
        but the bad part is that you are not a permanent employee in these
        projects and you'll have to learn all of those tedious company's
        processes and in-house tools again for the next project. Believe me, in
        time you'll get very irritated by it.
        {% endblocktranslate %}
      </p>
      <p>
      {% blocktranslate trimmed %}
        After some time I've spend working there and becoming more familiar with
        the company, I started to dislike the the company culture and decided to
        go elsewhere. In May 2025, I found another job, which wasn't just a job,
        but a life change. I had to move out to live on the southern region of
        France, Côte d'Azur.
        {% endblocktranslate %}
      </p>
      <p>
        <em>{% translate "And the story continues..." %}</em>
      </p>

      <hr class="hr hr-blurry" />
      <a
        id="aboutCollapseOpened"
        data-mdb-collapse-init
        data-mdb-ripple-init
        href="#aboutCollapse"
        aria-expanded="true"
        aria-controls="collapseAbout"
      >
        <em>{% translate "See less" %}</em>
      </a>
    </div>
  </div>

  <p class="spacing-bot-50" />

  <div
    id="prog"
    class="carousel-slide carousel slide carousel-fade lazy"
    data-mdb-ride="carousel"
    data-mdb-carousel-init
  >
    <div class="carousel-inner rounded-5 shadow-4-strong">
      {% for page, pages_data in technologies.pages.items %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img
          src="{% static 'images/technologies_background.jpg' %}"
          class="d-block w-100 img-fluid"
          alt="Blue art background for technology stack"
        />
        <div
          class="carousel-caption-bg carousel-caption d-none d-md-block mask d-flexbox p-2"
        >
          {% for category, category_data in pages_data.categories.items %}
          <h4 class="text-white">{{ category }}</h4>
          <div class="container list-unstyled">
            {% for row, row_data in category_data.rows.items %}
            <div class="row">
              {% for technology in row_data %}
              <div class="col-md">
                <p class="text-white">
                  {% if technology.icon|slice:"-4:" == ".svg" %}
                  {% include 'icons/'|add:technology.icon %}
                  {% elif technology.icon|slice:":3" == "fab" %}
                  <i class="{{ technology.icon }}"></i>
                  {% endif %}
                  {{ technology.name }}
                </p>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

      <!-- NOTE: invert(1) to make the color of the arrows white -->
      <button
        class="carousel-control-prev invert-color"
        type="button"
        data-mdb-target="#prog"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% translate "Previous" %}</span>
      </button>
      <button
        class="carousel-control-next invert-color"
        type="button"
        data-mdb-target="#prog"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% translate "Next" %}</span>
      </button>
    </div>
  </div>
</div>
