{% load static i18n %}

<div class="row text-center justify-content-center">

  <section id="Certificates">
  <h2 class="lazy">
      <a href="#Certificates">{% translate "Certificates" %}</a>
  </h2>
  </section>

  {% for row in certificates %}
  <div class="row text-center justify-content-center">
    {% for cert in row.certificate %}
    <div class="col-md-3 d-flex flex-column">
      <div class="card h-100">
        <img
          src="{% static 'images/certificates/'|add:cert.image %}"
          class="img-fluid mx-auto lazy spacing-30"
          width="150"
          height="150"
          alt="{{ cert.name }}"
        />

        <div class="card-body d-flex flex-column">
          <figure class="d-flex flex-column flex-grow-1">
            <blockquote class="blockquote">
              <h3 class="card-title">{{ cert.name }}</h3>
            </blockquote>
            <figcaption class="blockquote-footer mt-auto">
              <p>{{ cert.issuer }}</p>
              <p>{{ cert.date }}</p>
              <button
                type="button"
                class="btn btn-outline-primary btn-rounded btn-lg"
                data-mdb-ripple-init
                onclick="window.open('{{ cert.url }}','_blank')"
              >
              {% translate "Verify" %}
              </button>
            </figcaption>
          </figure>
        </div>
      </div>
      <p class="spacing-50" />
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
