{% extends "base.html" %}
{% load static compress django_bootstrap5 %}
{% block extra_head %}
{% compress css %}
<link
  href="{% static 'style/home.scss' %}"
  rel="stylesheet"
  type="text/x-scss"
/>

{% endcompress %}
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-9">
  <div
  data-mdb-scrollspy-init
  data-mdb-target="#scroll-table-contents"
  class="center-content">

<div class="d-flex justify-content-center align-items-center initial-content">
  <img
    src="{% static 'images/profile.jpg' %}"
    class="profile-img img-fluid rounded-circle me-4 lazy"
    alt="profile"
  />

  <div class="text-start">
    <h5 class="mt-1 text-secondary lazy">Hi,</h5>
    <h1 class="mt-1 text-primary display-1 lazy">I'm Iliyan</h1>
    <p class="lead lazy">
      <em>I try to figure out how things work.</em>
    </p>
  </div>
</div>

<p class="about-me-spacing-bot" />

<p class="lead text-center lazy hide-when-scrolling">
  Scroll down to find out more about me
</p>

<div
  class="d-flex justify-content-center align-items-center lazy hide-when-scrolling">
  <a href="#About">
    <i class="fas fa-arrow-down-long align-items-center"></i>
  </a>
</div>
<hr class="hr hr-blurry hide-when-scrolling" />

<div class="container text-center">

  {% include 'home/about.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/work_history.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/education.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/languages.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/certification.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/projects.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/contact_me.html' %}
</div>
   </div>
  </div>

  <div class="col-md-3 anchor-scrollspy">
    <div id="scroll-table-contents" class="sticky-top pt-3">
      <ul class="nav flex-column nav-pills menu-sidebar">

        <li class="nav-item">
          <a class="nav-link" href="#About">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#WorkHistory">Work history</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#Education">Education</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#Languages">Languages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#Certificates">Certificates</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#Projects">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#ContactMe">Contact me</a>
        </li>

      </ul>
    </div>
  </div>
  </div>
{% endblock %}
