{% extends "base.html" %}
{% load static compress django_bootstrap5 %}
{% block extra_head %}
{% compress css %}
<link
  href="{% static 'style/home.scss' %}"
  rel="stylesheet"
  type="text/x-scss"
/>

{% endcompress %}
{% endblock %}
{% block content %}

<div class="d-flex justify-content-center align-items-center initial-content">
  <img
    src="{% static 'images/profile.jpg' %}"
    class="profile-img img-fluid rounded-circle me-4 lazy"
    alt="profile"
  />

  <div class="text-start">
    <h5 class="mt-1 text-secondary lazy">{{ tr_main.greeting }},</h5>
    <h1 class="mt-1 text-primary display-1 lazy">{{ tr_main.introduction }}</h1>
    <p class="lead lazy">
      <em>{{ tr_main.catch_phrase }}</em>
    </p>
  </div>
</div>

<p class="about-me-spacing-bot" />

<p class="lead text-center lazy hide-when-scrolling">
  {{ tr_main.scroll_down }}
</p>

<div
  class="d-flex justify-content-center align-items-center lazy hide-when-scrolling">
  <a href="#About">
    <i class="fas fa-arrow-down-long align-items-center"></i>
  </a>
</div>
<hr class="hr hr-blurry hide-when-scrolling" />

<div class="container text-center">

  {% include 'home/about.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/work_history.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/education.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/languages.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/certification.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/projects.html' %}
  <p class="spacing-bot-200" />

  {% include 'home/contact_me.html' %}
</div>

{% endblock %}
