.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: white;
  background-color: #333;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.tab {
  background-color: #01579b;
}

.footer-text {
  background-color: rgba(0, 0, 0, 0.05);
}
