{% load static compress %}

<!doctype html>
<html lang="en" data-mdb-theme="dark">
  <head>
    <title>Iliyan's portfolio page</title>
    <link rel="browser icon" href="{% static 'favicon.ico' %}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.min.css"
      rel="stylesheet"
      integrity="sha512-KZfH/Hybv9x3A8O7kpxw84PhCbHtcjKo8hB1TR/riHma0ZgyMrR3Ctij/bUHowTXBEpa9i7J3Teed0xasHxwfQ=="
      crossorigin="anonymous"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    {% compress css %}
    <link
      href="{% static 'style/default.scss' %}"
      rel="stylesheet"
      type="text/x-scss"
    />
    {% endcompress %} {% block extra_head %} {% endblock %}
  </head>

  <body>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.umd.min.js"
      integrity="sha384-YzAp9mbtbROBzQd/GXua4zI0q9ZFctXLsebMBDVA0fvlsyHVP/1VOLlBwtFlThGn"
      crossorigin="anonymous"
    ></script>


    <nav
      class="navbar tab navbar-expand-lg me-1"
      aria-label="toolbar for navigating through the entire website"
    >
      <div class="container-fluid">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
          </ol>
        </nav>
        <button
          data-mdb-collapse-init
          class="navbar-toggler"
          type="button"
          data-mdb-target="#navbarCenteredExample"
          aria-controls="navbarCenteredExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarCenteredExample"
        >
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#About"
                >About</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#WorkHistory"
                >Work history</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Education"
                >Education</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#Certificates"
                >Certificates</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Projects"
                >Projects</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#ContactMe"
                >Contact me</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
    <script src="{% static 'scripts/lazyload.js' %}"></script>
    <script src="{% static 'scripts/toast.js' %}"></script>
    {% include "components/toast.html" %}

    <footer class="text-center bg-body-tertiary">
      <div class="container pt-4">
        <section class="mb-4">
          <button
            class="btn btn-link btn-floating btn-lg m-1"
            onclick="window.open('https://www.linkedin.com/in/iliyan-kostov/','_blank')"
          >
            <i class="fab fa-2x fa-linkedin"></i>
          </button>
          <button
            class="btn btn-link btn-floating btn-lg m-1"
            onclick="window.open('https://github.com/IliyanKostov9','_blank')"
          >
            <i class="fab fa-2x fa-github"></i>
          </button>
        </section>
      </div>

      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        Made with
        <a class="text-body" href="https://www.djangoproject.com/">
          ❤️ by Django</a
        >
      </div>
    </footer>
  </body>
</html>
