{% extends "base.html" %}
{% load static i18n compress django_bootstrap5 %}
{% block extra_head %}
{% compress css %}
<link
  href="{% static 'style/blogs.scss' %}"
  rel="stylesheet"
  type="text/x-scss"
/>

{% endcompress %}
{% endblock %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-10 text-center">
  <p class="spacing-bot-50" />
        <figure class="d-flex flex-column flex-grow-1">
          <blockquote class="blockquote">
            <h3 class="card-title hover-target">Moving from Bulgaria to France</h3>
            <h3 class="card-title hover-target">Stupidity or adventure ?</h3>
          </blockquote>
          <figcaption class="blockquote-footer mt-auto">
            <p class="hover-target">June 13th, 2026</p>
          </figcaption>
        </figure>
    </div>

  <div class="col-md-6 text-start">
    <hr class="hr hr-blurry" />
    </div>

  <div class="col-md-10 text-center">
  <div class="bg-image hover-overlay hover-zoom hover-shadow ripple d-inline-block">
  <img
    class="img-fluid shadow-2-strong hover-overlay rounded"
    src="{% static 'images/blogs/nice-ville.jpg' %}"
    alt="Nice, France"/>
    <a href="#">
      <div class="mask" style="background-color: hsla(195, 83%, 58%, 0.2)"></div>
    </a>
  </div>
  </div>

  <div class="col-md-6 text-start">
    <hr class="hr hr-blurry" />
  <p class="spacing-bot-50" />

    <p class="lazy hover-target text-start">
      {% blocktranslate trimmed %}
       I'm sure that everyone has dreamed of living in another country - whether the reason is to escape or to experience something new.
       However it's much more complicated than just buying a cheap ticket plane on WizzAir (or any other low-cost airline service) and erase all of your problems like that.
       You not only have to be <mark>mentally prepared</mark> to leave all of your friends and family from your home country, but also be <mark>willing to accept</mark> that, like it or not, you'll have
       to adapt to the environment, integrate with the culture and "act" like the locals.
      {% endblocktranslate %}
    </p>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      Every gesture they make, the way they dress, the way they speak, the way they handle themselves, whether they speak loudly or quietly - you have to <strong>be</strong> like them. That's how you actually integrate.
      {% endblocktranslate %}
    </p>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      If you are currently thinking about living abroad - more specifically, living away from your own people and culture to explore a whole new world, where the people there speak an unknown (and quite funny) language and with different interests, then I think this blog post will help you make the decision.
      It's not to scare or reassure you if you should or should not try to live abroad, but I want to share with you my personal experience and make you draw conclusions of your own.
      {% endblocktranslate %}
    </p>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
       I don't have the decision for you my dear reader - nobody knows what's best for you better than you do.
      {% endblocktranslate %}
    </p>

  <p class="spacing-bot-50" />
    <section id="About">
      <h2 class="lazy"><a class="text-center" href="#Finding work in another country was tough to say the least">{% translate "Finding work in another country was tough to say the least..." %}</a></h2>
    </section>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      At that time I didn't really know anyone close to me to help me find an IT job abroad. I didn't want to work remotely, since that'll kill the idea of living in another country, so I had to specifically look for companies, <a href="#" data-mdb-tooltip-init title="Lucky for me, Bulgaria (my home country) is part of EU, so I didn't have to deal with getting a visa. Companies, that hire professionals from abroad will most likely prefer candidates, that have an EU citizenship, rather than going through the paperwork involved in sponsoring a visa. As unfair as it sounds, it's the ugly truth.">that are willing to take the risk and hire someone from another country.</a>
      {% endblocktranslate %}
    </p>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      We talked with an italian friend about it and we realised of how ungrateful we are of being in the EU - we can travel and live to almost anywhere by just handing over our ID cards to the border control officiers. So if your home country is within the EU, then great! You'll have higher chances of finding a job, but if you're outside, then you'll have to make sure you're the best candidate the company can find and that they'll definitely miss out if they don't hire you now, as another company might <em>steal</em> you from them.
      {% endblocktranslate %}
    </p>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      Coming back to my story. As I said, I didn't really know anyone, that can help me find work abroad. In reality, I really didn't have a lot of friends or people to just talk to. At that time I was in the middle of completing my Master's degree and I also had a full time job. I didn't have much time to socialize, let alone find international friends. When I recall about my past situation, sometimes I'm wondering if I was lying to myself just to feel better and to say that it wasn't my fault for being in this situation, that I was just too focused on my career and education and that I've intentionally delayed the fun activities (like socializing, going to bars) for later, maybe after I get a good job with a good salary and finished my education. And yet, at that time I really didn't believe myself.
      {% endblocktranslate %}
    </p>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      Then in late February 2025, a random HR person messaged me on Linked in. This was usual to me, as I have already updated my status to <a href="#" class="text-decoration-none">#Open to work</a>
      But this message was different from the rest. Something caught my eye.
      The position wasn't in Bulgaria or being completely remote as most job offers I received - the job was actually in France, more specifically in Nice.
      {% endblocktranslate %}
    </p>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      Honestly, at that time I have never heard of a city called Nice. How do you pronounce it ? Do you pronounce it like the word Nice literally or Niece ? What a ridicilous name the colonizers gave to this city.
      Since this message caught my curiosity, I agreed with her to get on a call for next week.
      At that time I was actively searching for a job and all of them rejected me. So I was actually expecting to fail on this interview as well.
      I didn't really care. I just wanted to try my luck.
      {% endblocktranslate %}
    </p>

  </div>

  <p class="spacing-bot-50" />

  <div class="col-md-6 text-center">
  <hr class="hr hr-blurry" />
  <div class="d-flex align-items-start gap-3">

  <figure class="mb-2">
    <div class="bg-image hover-zoom" data-mdb-ripple-init>
    <img
      class="img-fluid shadow-2-strong hover-overlay rounded"
      src="{% static 'images/blogs/varna-beach.jpg' %}"
      alt="Varna, Bulgaria"/>
        </div>
        <figcaption class="text-center mt-1 blockquote-footer">
          <small>{% translate "Beach alley of Varna, Bulgaria, that I've frequently had a stroll" %}</small>
          </figcaption>
    </figure>

    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      A week pases and we are in the end of February, we get in a call.
      I expalined to her my situation, that I want to live abroad and that I'm also finishing my Master's degree. I wanted to be completely transparent with her.
      We got along really well, surprisingly. I did present myself of pretending to be a normal human being, that is able to form coherent sentences.
      She was also really surprised of how well I was speaking English. The reason was that before this interview I had many other interviews like this, where I primarily spoke English and therefore I greatly improved my presentation skills. But outside of work if I dared to speak English with another person, that was kind of a disaster to me.
      {% endblocktranslate %}
    </p>
  </div>
  </div>

  <div class="col-md-7 text-start">
    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      After this meeting, <abbr title="Human resources">Beatrice</abbr> was quite excited to meet me in person and she immediatly wanted me to move to the next interview's step to have an interview with the <abbr title="aka my future manager">Business manager</abbr>.
      By the way, every interview I had was scheduled weekly, meaning that I had enough time to prepare.
      If you are wondering how I was preparing, then I couldn't be able to answer you - because I don't realy remember.
      {% endblocktranslate %}
    </p>
  </div>

  <div class="col-md-7 text-start note note-info mb-3">
    <p class="lazy hover-target">
      {% blocktranslate trimmed %}
      <strong>Advice:</strong> The most important advice I can give you (at least for IT related jobs), is that you have to be better at your presentation skills than your technical skills.
      Honestly that's how I'm able to find IT jobs. At the end of the day it doesn't really matter how much you know, it matters how you present yourself, so that you can convince the person that is interviewing you of what a great candidate you are and that you won't be bothered if they potentially reject your application.
      This skill is mainly a social skill. What that means is that for you to prepare for an interview - you just have to socialize and not sit in front of the screen 8 hours a day. It's a bit inlogical, I know, but in my case the DevOps position mainly revolves around people and processes, not purely writing code like a developer.
      {% endblocktranslate %}
  </div>

  </div>
{% endblock %}
