{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website is down</title>
    <link rel="browser icon" href="{% static 'favicon.ico' %}" />
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #332d2d;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      transition:
        background-color 0.3s,
        color 0.3s;
    }
    .container {
      text-align: center;
      padding: 100px;
    }
    h1 {
      font-size: 48px;
      color: #3b71ca;
    }
    p {
      font-size: 18px;
      color: #fbfbfb;
    }
  </style>
  <body class="body">
    <div class="container">
      <h1>Website is down</h1>
      <p>Sorry! It's our fault this time :(</p>
      <p>Please try again next time</p>
    </div>
  </body>
</html>
