{% load static %}

<div class="row text-center justify-content-center">
  <h2 id="Certificates" class="lazy">
    <a href="#Certificates">Certificates</a>
  </h2>

  {% for row in certificates %}
  <div class="row text-center justify-content-center">
    {% for cert in row.certificate %}
    <div class="col-md-3 lazy d-flex flex-column align-items-center">
      <div class="card">
        <img
          src="{% static 'images/certificates/'|add:cert.image %}"
          class="img-fluid mx-auto lazy"
          style="{{ cert.style }}"
          width="150"
          height="150"
          alt="{{ cert.name }}"
        />

        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <h3 class="card-title">{{ cert.name }}</h3>
            </blockquote>
            <figcaption class="blockquote-footer">
              <p>{{ cert.name }}</p>

              <button
                type="button"
                class="btn btn-outline-primary btn-rounded btn-lg"
                data-mdb-ripple-init
                onclick="window.open('{{ cert.url }}','_blank')"
              >
                Verify
              </button>
            </figcaption>
          </figure>
        </div>
      </div>
    <p style="margin-bottom: 50px" />
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
