{% load static %}

<div class="row text-center justify-content-center">
  <div class="col-md-7 lazy d-flex flex-column align-items-center">
    <h2 id="Education" class="lazy"><a href="#Education">Education</a></h2>

    {% for education in educations %}
    <div class="card max-width-700">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{% static 'images/'|add:education.image %}"
            class="education-img img-fluid rounded-start me-4 lazy"
            alt="{{ education.university_name }}"
            width="550"
            height="550"
          />
        </div>

        <div class="col-md-8">
          <div class="card-body spacing-left-50" >
            <figure>
              <blockquote class="blockquote">
                <h3 class="card-title mb-3">
                  <a
                    href="{{ education.href_tooltip }}"
                    data-mdb-tooltip-init
                    title="{{ education.href_title }}"
                  >
                    {{ education.degree }}</a>
                </h3>
                <h5 class="card-title mb-3">
                  <small class="text-muted">{{ education.specialty }}</small>
                </h5>
              </blockquote>
              <figcaption class="blockquote-footer">
                <p>{{ education.date }}</p>
              </figcaption>
            </figure>

            <p class="card-text">
              {{ education.description }}
            </p>
            <p class="card-text">
              <small class="text-muted">{{ education.gpa }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <p class="space-bottom-80"></p>
    {% endfor %}
  </div>
</div>
