{% load static %}

<div class="row text-center justify-content-center">
  <h2 id="Projects" class="lazy"><a href="#Projects">Projects</a></h2>

  <div class="row text-center justify-content-center">
    <div class="col-md-4 lazy d-flex flex-column align-items-center">
      <div class="card" style="max-width: 500px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/nixos.png' %}"
              class="img-fluid rounded-start me-4 lazy"
              style="margin: 50px; margin-bottom: 80px; margin-top: 80px"
              alt="NixOS logo"
              width="550"
              height="550"
            />
          </div>

          <div class="col-md-8">
            <div class="card-body" style="margin-left: 50px">
              <figure>
                <blockquote class="blockquote">
                  <h3 class="card-title mb-3">NixOS config</h3>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <p>06-2024 - Present</p>
                </figcaption>
              </figure>
              <p class="card-text">
                It contains hardware/software configurations for setting up my
                personal/work machines.
              </p>
              <button
                type="button"
                class="btn btn-outline-primary btn-rounded btn-lg"
                data-mdb-ripple-init
                style="width: 80%"
                onclick="window.open('https://github.com/IliyanKostov9/nixos-config','_blank')"
              >
                <i class="fab fa-github"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 lazy d-flex flex-column align-items-center">
      <div class="card" style="max-width: 500px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/tu_varna.png' %}"
              class="img-fluid rounded-start me-4 lazy"
              style="margin: 50px; margin-bottom: 80px; margin-top: 80px"
              alt="Tu Varna logo"
              width="550"
              height="550"
            />
          </div>

          <div class="col-md-8">
            <div class="card-body" style="margin-left: 50px">
              <figure>
                <blockquote class="blockquote">
                  <h3 class="card-title mb-3">Phd portal system</h3>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <p>08-2024 - 06-2025</p>
                </figcaption>
              </figure>
              <p class="card-text" style="max-height: 110px; overflow-y: auto">
                The project develops an engineering solution for digitizing an
                information system for doctoral students and candidates in order
                to be used by higher education institutions, which would
                integrate into the systematic process for the management and
                management of the so -called "digital university".
              </p>
            </div>
          </div>
          <div class="btn-group" aria-label="phd portal buttons for github">
            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://github.com/Tu-Varna-2019/phd-portal-server','_blank')"
            >
              Server
              <i class="fab fa-github"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://github.com/Tu-Varna-2019/phd-portal-client','_blank')"
            >
              Client
              <i class="fab fa-github"></i>
            </button>

            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://github.com/Tu-Varna-2019/phd-portal-infra','_blank')"
            >
              Infra
              <i class="fab fa-github"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 lazy d-flex flex-column align-items-center">
      <div class="card" style="max-width: 500px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/tu_varna.png' %}"
              class="img-fluid rounded-start me-4 lazy"
              style="margin: 50px; margin-bottom: 80px; margin-top: 80px"
              alt="Tu Varna logo"
              width="550"
              height="550"
            />
          </div>

          <div class="col-md-8">
            <div class="card-body" style="margin-left: 42px">
              <figure>
                <blockquote class="blockquote">
                  <h3 class="card-title mb-3">Geo Android app</h3>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <p>02-2024 - 06-2024</p>
                </figcaption>
              </figure>
              <p class="card-text">
                Information system, which allows users to inspect hazards and
                risks anywhere in the world.
              </p>
            </div>
          </div>
          <div class="btn-group" aria-label="phd portal buttons for github">
            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://github.com/Tu-Varna-2019/geo-server','_blank')"
            >
              Server
              <i class="fab fa-github"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-rounded btn-lg"
              data-mdb-ripple-init
              onclick="window.open('https://github.com/Tu-Varna-2019/geo-client','_blank')"
            >
              Client
              <i class="fab fa-github"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p style="margin-bottom: 50px" />

  <div class="row text-center justify-content-center">
    <div class="col-md-4 lazy d-flex flex-column align-items-center">
      <div class="card" style="max-width: 500px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/tu_varna.png' %}"
              class="img-fluid rounded-start me-4 lazy"
              style="margin: 50px; margin-bottom: 80px; margin-top: 80px"
              alt="Tu Varna logo"
              width="550"
              height="550"
            />
          </div>

          <div class="col-md-8">
            <div class="card-body" style="margin-left: 50px">
              <figure>
                <blockquote class="blockquote">
                  <h3 class="card-title mb-3">ChatApp mobile app</h3>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <p>08-2023 - 02-2024</p>
                </figcaption>
              </figure>
              <p class="card-text">
                Mobile application for real time messaging communication
              </p>

              <div class="btn-group" aria-label="chat app buttons for github">
                <button
                  type="button"
                  class="btn btn-outline-primary btn-rounded"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/chatapp-server','_blank')"
                >
                  Server
                  <i class="fab fa-github"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-rounded btn-lg"
                  data-mdb-ripple-init
                  onclick="window.open('https://github.com/Tu-Varna-2019/chatapp-client','_blank')"
                >
                  Client
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 lazy d-flex flex-column align-items-center">
      <div class="card" style="max-width: 500px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/tu_varna.png' %}"
              class="img-fluid rounded-start me-4 lazy"
              style="margin: 50px; margin-bottom: 80px; margin-top: 80px"
              alt="Tu Varna logo"
              width="550"
              height="550"
            />
          </div>

          <div class="col-md-8">
            <div class="card-body" style="margin-left: 50px">
              <figure>
                <blockquote class="blockquote">
                  <h4 class="card-title mb-3">
                    Project management with OpenAI
                  </h4>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <p>02-2023 - 06-2023</p>
                </figcaption>
              </figure>
              <p class="card-text" style="max-height: 80px; overflow-y: auto">
                A browser-based project management app, that is integrated with
                ChatGPT-3.5 for supporting the agile team to autogenerate
                tickets.
              </p>

              <button
                type="button"
                class="btn btn-outline-primary btn-rounded btn-lg"
                style="width: 80%"
                data-mdb-ripple-init
                onclick="window.open('https://github.com/Tu-Varna-2019/project-management-openai','_blank')"
              >
                <i class="fab fa-github"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
