<div class="row text-center justify-content-center">
  <div class="col-md-6 lazy">
    <h2 id="WorkHistory" class="lazy">
      <a href="#WorkHistory">Work history</a>
    </h2>

    <ul class="nav nav-tabs nav-justified mb-3" id="projects-tab">
      <li class="nav-item">
        <a
          data-mdb-tab-init
          class="nav-link active"
          id="sys-consulting"
          href="#sys-consulting-href"
          role="tab"
          aria-controls="sys-consulting-href"
          aria-selected="true"
        >
          {% include 'icons/sys_consulting.svg' %} Sys Consulting</a
        >
      </li>

      <li class="nav-item">
        <a
          data-mdb-tab-init
          class="nav-link"
          id="dxc-technology"
          href="#dxc-technology-href"
          role="tab"
          aria-controls="dxc-technology-href"
          aria-selected="false"
        >
          {% include 'icons/dxc_technology.svg' %} DXC Technology</a
        >
      </li>

      <li class="nav-item">
        <a
          data-mdb-tab-init
          class="nav-link"
          id="alten"
          href="#alten-href"
          role="tab"
          aria-controls="#alten-href"
          aria-selected="false"
        >
          {% include 'icons/alten.svg' %} Alten</a
        >
      </li>
    </ul>

    <div class="tab-content" id="projects-content">
      <div
        class="tab-pane fade show active"
        id="sys-consulting-href"
        role="tabpanel"
        aria-labelledby="sys-consulting"
      >
        <figure>
          <blockquote class="blockquote">
            <h2>Software Engineer</h2>
          </blockquote>
          <figcaption class="blockquote-footer">
            <p>Internship 07-2021 - 12-2021</p>
          </figcaption>
        </figure>
        <p>
          The intership consisted of mainaiting a legacy banking system for
          Balkan clients. The system was comprised of a desktop Windows XP
          compatible application, written in CAVO (Visual Objects) programming
          language.
        </p>
      </div>
      <div
        class="tab-pane fade text-start container"
        id="dxc-technology-href"
        role="tabpanel"
        aria-labelledby="dxc-technology"
      >
        <figure>
          <blockquote class="blockquote">
            <h2 class="text-center">DevOps Engineer</h2>
          </blockquote>
          <!-- NOTE: text-center in figcaption because of the dash - -->
          <figcaption class="blockquote-footer text-center">
            <p class="text-center">Mid 04-2023 - 05-2025</p>
            <p class="text-center">Junior 02-2022 - 04-2023</p>
          </figcaption>
        </figure>
        <p>
          My initial project focused on the development of Advanced Driver
          Assistance Systems (ADAS) for a multinational automotive company.
        </p>
        <p>
          Within this project, my role was working as a DevOps Engineer on AWS
          cloud infrastructure management, where we were responsible for
          maintaining the entire cloud platform, including the deployment of
          customer products with the help of AWS ADF framework, AWS
          Account-Vending-Machine and AWS Control Tower custom REST API.
        </p>
        <p>
          We were also responsible governing the cloud platform by using AWS
          Cloudformation Policy templates and all of the essential resources.
          The automation these processes was achieved through the use of AWS CDK
          Infrastructure as Code (IaaC).
        </p>
        <p>
          As part of my contributions to client services, I implemented the
          following solutions:
        </p>
        <ul>
          <li>
            budget cost alerting on the entire platform with predifned % of
            exceeded budget to fire off email messages to the Business Owners
          </li>
          <li>
            creating additional REST API endpoints for the Control Tower for
            specifying which newly created AWS accounts belong to which VPC. In
            there I also wrote the logic where a Lambda Function checks the type
            of account and based on which VPC template it belongs to - deploys
            the AWS CloudFormation StackSet to the appropriate account.
          </li>
          <li>
            creating a High level design of data flow and replication for the
            entire Data platform
          </li>
        </ul>
        <p>
          My second project revolved around delivering valuable insights to
          enhance the shopping experience for customers and establishing loyalty
          programs for a renowned Whole Foods store company.
        </p>
        <p>
          I was positioned as Data Engineer on the Azure platform for ensuring
          data integrity and data validation on the Raw to Source to Prepared
          Layer. For data validation processes, we developed a Test Automation
          Framework built upon the pytest framework. The data flow initiates as
          follows:
        </p>
        <ol>
          <li>
            A single entry of test data (.avro file) and a configuration file
            are copied from raw layer on Blob Storage
          </li>
          <li>
            From that event of the configuration file being copied, it invokes
            an ADF (Azure Data Factory) pipeline, that in turn parses this test
            data towards Azure Databricks cluster
          </li>
          <li>
            That cluster was responsible for doing minor transformations of the
            data, like converting the data type from avro -> parquet, changing
            column names for compatibility purposes, etc
          </li>
          <li>
            After the transformations were done, that transformed test data gets
            copied to the Source layer of Blob Storage
          </li>
          <li>
            Test Framework via the Azure SDK is validating the data on the raw
            and source layer, for example: schema checks, data checks,
            duplication checks, column checks
          </li>
          <li>
            After all tests are gathered, pytest creates a test execution
            results file junitxml_report.xml, thats required for the reporting
            tools to visualize the test results
          </li>
          <li>
            We provided 2 different reporting tools: Zephyr Scale Rest API and
            Allure
          </li>
        </ol>
      </div>
      <div
        class="tab-pane fade"
        id="alten-href"
        role="tabpanel"
        aria-labelledby="alten"
      >
        <figure>
          <blockquote class="blockquote">
            <h2>DevOps Engineer</h2>
          </blockquote>
          <figcaption class="blockquote-footer">
            <p>Mid 04-2025 - Present</p>
          </figcaption>
        </figure>
        <p>
          My first project is a software company, that provides global
          distribution service to airline companies. These distributions of data
          products are in the area of the travel industry.
        </p>
        <p>
          The team I'm in is in the department of ticket reservation. The role
          I'm currently working is platform engineer and the objective is to
          maintain, operate and develop the data processing pipeline, that is
          responsible for ingesting the raw data, that's sent by the global
          distribution system, process it through multiple layers and finally
          send it to the customer via various transfer protocols - FTP or S3.
        </p>
      </div>
    </div>
  </div>
</div>
