<div class="row text-center justify-content-center">
  <div class="col-md-6 lazy">
    <h2 id="WorkHistory" class="lazy">
      <a href="#WorkHistory">Work history</a>
    </h2>

    <ul class="nav nav-tabs nav-justified mb-3" id="projects-tab">
      {% for work_history in work_histories %}

      <li class="nav-item">
        <a
          data-mdb-tab-init
          class="nav-link {% if forloop.first %}active{% endif %}"
          id="{{ work_history.company_name_label }}"
          href="#{{ work_history.company_name_label }}-href"
          role="tab"
          aria-controls="{{ work_history.company_name_label|slice:'1:' }}"
          aria-selected=" {% if forloop.first %}true{% else %}false{% endif %}"
        >
          {% include 'icons/'|add:work_history.image %}
          {{ work_history.company_name }}
        </a>
      </li>

      {% endfor %}
    </ul>

    <div class="tab-content" id="projects-content">
      {% for work_history in work_histories %}

      <div
        class="tab-pane fade show {% if forloop.first %}active{% endif %}"
        id="{{ work_history.company_name_label }}-href"
        role="tabpanel"
        aria-labelledby="{{ work_history.company_name_label }}"
      >
        <figure>
          <blockquote class="blockquote">
            <h2>{{ work_history.specialty }}</h2>
          </blockquote>
          <figcaption class="blockquote-footer">
            {% for date in work_history.dates %}
            <p>{{ date }}</p>
            {% endfor %}
          </figcaption>
        </figure>
        <div class="text-start">{{ work_history.description|linebreaks }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
